<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC2Ml1enI6pEeg7XhZDTqmBQkF0la6rAY</string>
	<key>GCM_SENDER_ID</key>
	<string>337509300737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tiwarin9211</string>
	<key>PROJECT_ID</key>
	<string>ai-music-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-music-prototype.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337509300737:ios:6999d866705c0a56211e00</string>
</dict>
</plist>